{% load static %}

{% include 'util/dashboard_admin/head.html' %}

 <!--**********************************
            Content body start
        ***********************************-->
         <div class="content-body">

            <div class="container-fluid mt-3">
                <div class="row">
                   <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Upload Lowongan</h4>
                                <div class="basic-form">
                                    <form>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Title Pekerjaan <code>*</code></label>
                                                <input type="email" class="form-control" placeholder="Email">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Kategori Pekerjaan <code>*</code></label>
                                                <select id="inputState" class="form-control">
                                                    <option selected="selected">Choose...</option>
                                                    <option>Option 1</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                           <label>Lokasi Pekerjaan <code>*</code></label>
                                                <select id="inputState" class="form-control">
                                                    <option selected="selected">Choose...</option>
                                                    <option>Option 1</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                </select>
                                        </div>
                                        <div class="form-group">
                                           <label>Tipe Pekerjaan <code>*</code></label>
                                                <select id="inputState" class="form-control">
                                                    <option selected="selected">Choose...</option>
                                                    <option>Option 1</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Gaji</label>
                                            <input type="text" class="form-control" placeholder="Apartment, studio, or floor">
                                            <div class="form-check" style="margin-top: 8px;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label">Sembunyikan Gaji</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            
                                        </div>
                                        <button type="submit" class="btn btn-dark">Sign in</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
{% include 'util/dashboard_admin/foot.html' %}