{% load static %}

{% include 'util/dashboard_admin/head.html' %}


        <!--**********************************
            Content body start
        ***********************************-->
         <div class="content-body">

            <div class="container-fluid mt-3">
                <div class="row">                   
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Data Lamaran</h4>
                                <div class="table-responsive">
                                    <table class="table table-bordered verticle-middle">
                                        <thead>
                                            <tr>
                                                <th scope="col">Lowongan</th>
                                                <th scope="col">Progress</th>
                                                <th scope="col">Deadline</th>
                                                <th scope="col">Jumlah Lamaran</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            <tr>
                                                <td>Textiles</td>
                                                <td>
                                                    <div class="progress" style="height: 10px">
                                                        <div class="progress-bar gradient-2" style="width: 70%;" role="progressbar"><span class="sr-only">70% Complete</span>
                                                        </div>
                                                    </div> 
                                                </td>
                                                <td>May 27,2018</td>
                                                <td><span class="label gradient-2 btn-rounded">70 Lamaran</span>
                                                </td>
                                                <td><span><a href="{% url 'admins:admin_detail_lamaran_lowongan' data='aa' %}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Lihat Lamaran"><i class="fa fa-eye color-muted m-r-5"></i> </a></span>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
{% include 'util/dashboard_admin/foot.html' %}