{% load static %}
{% load custom_filters %}
{% include 'util/dashboard_admin/head.html' %}

     <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">                    

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <h4 class="card-title">Data Interview</h4>
                                <span>                                
                               
                                </span>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">

                                        <thead>

                                            <tr>
                                                <th>Nama Lengkap</th>
                                                <th>Position</th>
                                                <th>Umur</th>
                                                <th>CV</th>
                                                <th>Profile</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for data in interview %}
                                            {% if data.to.is_close is False %}
                                            <tr>
                                                <td>{{data.user.complete_name}}</td>
                                                <td>{{data.to.title}}</td>
                                                <td>{{data.user.date_birth |date:'U'|hitungUmur}} Tahun</td>
                                                <td>
                                                    <a 
                                                    target="_blank" 
                                                    href="{% url 'admins:cv_pelamar' file=data.user.file_cv %}">
                                                        <i class="ti-eye">&nbsp; Lihat</i>
                                                    </a> 
                                                </td>
                                                <td>
                                                    <a 
                                                    target="_blank" 
                                                    href="{% url 'admins:admin_profile_pelamar' slug=data.unique_token %}"><i class="ti-eye">&nbsp; Lihat</i></a>  
                                                </td>
                                                    {% if data.status == 3 %}
                                                    <span
                                                    id="messageInterview{{data.id}}"
                                                    style="display: none;"
                                                    content='{{data.id|messageInterview|safe}}'     
                                                    >
                                                    {% for file in data.id|attachmentFiles %}
                                                    <div 
                                                    id="files{{data.id}}" 
                                                    files="{{file.name_file}}"></div>
                                                    {% endfor %}    
                                                    </span>
                                                    {% endif %}
                                                <td>
                                                    {% if data.status == 3 %}
                                                    <a href="javascript:void()" data-toggle="modal"
                                                    data-target="#tahapInterview" data-whatever="@mdo"
                                                    onclick="setModalInterview('{{data.id}}')" 
                                                    >

                                                        <i class="ti-eye">&nbsp; Tahap Interview</i>
                                                    </a>
                                                    {% else %}
                                                    <button 
                                                    onclick="setModal('{{data.id}}')" 
                                                    type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Atur Jadwal</button>
                                                    {% endif %}
                                                    <!-- <a href=""><i class="ti-eye">&nbsp; Tahap Interview</i></a>  -->
                                                    
                                                </td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </tbody>
                                        
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
 <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none; padding-right: 17px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form id="forms" action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    <label>Tanggal Interview</label>
                    <input required name="date" type="date" class="form-control" ><br>
                    <label>Waktu Interview</label>
                    <input required name="time" type="time" class="form-control" ><br>
                    <label>Alamat Interview</label>
                    <input required name="alamat" type="text" class="form-control" ><br>
                    <input type="hidden" id="idAply" name="idAply">
                    <label>Files (Optional)</label>
                    <input type="file" class="form-control" name="file" multiple><br>

                    <input onclick="manualPesan()" type="checkbox" style="border: 1px solid black;" name="pesan"> &nbsp;&nbsp;Buat Pesan Manual <br>
                    <input type="hidden" id="valueEditor">

                    <div style="display: none;" id="manualPesan">
                        <div class="form-control" style="height:250px;" id="editor">
                            
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="submit" name="" class="btn btn-primary">Kirim Interview</button>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="tahapInterview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Interview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body" >
               <div id="dataInterview">
                   
               </div>
               <div >
                    <span><b>Attachments</b></span>
                   <ul id="attachemntfile">
                       
                   </ul>
               </div>
            </div>
        </div>
    </div>
</div>


<script>
const quill = new Quill('#editor', {
  modules: {
    toolbar: [
      [{ header: [1, 2, 3,4,5,false] }],
      ['bold', 'italic', 'underline',],
      ['blockquote'],
      [{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'list': 'check' }],
      [{ 'script': 'sub'}, { 'script': 'super' }],
      [{ 'indent': '-1'}, { 'indent': '+1' }],
      [{ 'direction': 'rtl' }],
      [{ 'align': [] }],
      [{ 'color': [] }, { 'background': [] }],  
      [{ 'font': [] }],
    ],
  },
  placeholder: 'Compose an epic...',
  theme: 'snow', // or 'bubble'
});   





const manualPesan = () =>{
  let element = document.getElementById("manualPesan")
  if (element.style.display == "none") {
    element.style.display = "block"
    document.getElementById("valueEditor").setAttribute("name","message")
  }else if (element.style.display == "block") {
    element.style.display = "none"
    document.getElementById("valueEditor").setAttribute("name")
  }
}

const setModal = (id) => {
    console.log(id)
    document.getElementById("idAply").value = id
}

let formss = document.getElementById("forms")

formss.addEventListener("submit",e => {
    e.preventDefault()
    if(e.target.pesan.checked){
        e.target.message.value = quill.root.innerHTML
    }
    formss.submit()
})


const setModalInterview = (id) => {
    let pesan = document.getElementById(`messageInterview${id}`)
    let text= pesan.getAttribute("content")
    let files = pesan.querySelectorAll(`#files${id}`)
    let attach = document.getElementById("attachemntfile")
    let str = ''
    files.forEach(e => {
        if (e) {
            str += `<li><a href="${e.getAttribute(`files`)}">${e.getAttribute(`files`)}<a/></li>`
            attach.innerHTML = str
        }
    }) 
    document.getElementById("dataInterview").innerHTML = text
}

</script>
     
{% include 'util/dashboard_admin/foot.html' %}