{% load static %}
{% load custom_filters %}
{% include 'util/homepage/head_list.html' %}

 <main>

        <!-- Hero Area Start-->
        <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>{{detail.category.name}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Hero Area End -->
        <!-- job post company Start -->
        <div class="job-post-company pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                        <div class="single-job-items mb-50">
                            <div class="job-items">
                                <div class="company-img company-img-details">
                                    <a href="#"><img src="assets/img/icon/job-list1.png" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="#">
                                        <h4>{{detail.title}}</h4>
                                    </a>
                                    <ul>
                                        <li>Creative Agency</li>
                                        <li><i class="fas fa-map-marker-alt"></i>{{detail.location}}</li>
                                        {% if detail.is_salary %}
                                        <li>Gaji Tidak Di Tampilkan</li>
                                        {% else %}
                                        <li>Rp. {{detail.salary | rupiah}}</li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                          <!-- job single End -->
                       
                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                
                                {% autoescape off %} 
                                {{detail.description}}
                                {% endautoescape %}
                            </div>
                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Job Overview</h4>
                           </div>
                          <ul>
                              <li>{{detail.created_at}}<i class="fas fa-calendar"></i></li>
                              <li> {{detail.location.name}}<i class="fas fa-map-marker-alt"></i></li>
                               <li>{{detail.tipe.name}}<i class="fas fa-briefcase"> </i></li> 
                              <li>Rp. {{detail.salary | rupiah}}<i class="fas fa-dollar-sign"></i></li>
                          </ul>
                         <div class="apply-btn2">
                            <a href="#" class="btn">Apply Now</a>
                         </div>
                       </div>
                        <div class="post-details4  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Company Information</h4>
                           </div>
                              <span>{{profileP.name}}</span>
                              <p>{{profileP.slogan}}</p>
                            <ul>
                                <li>Name: <span>{{profileP.name}} </span></li>
                                <li>Web : <span> {{profileP.web}}</span></li>
                                <li>Email: <span>{{profileP.email}}</span></li>
                            </ul>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- job post company End -->

    </main>

{% include 'util/homepage/foot_homepage.html' %}