<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ubah Password</title>
    </head>
    <body style="font-family: Arial, sans-serif; background-color: #f4f4f9; margin: 0; padding: 0;">
        <div class="container" style="width: 100%; max-width: 600px; margin: 50px auto; background-color: #fff; padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
            <h1 style="color: #333; text-align: center;">Ubah Password Akun Anda</h1>

            <p style="color: #555; font-size: 16px; line-height: 1.5;">Halo,<b>  {{email}}</b></p>
            <p style="color: #555; font-size: 16px; line-height: 1.5;">Kami menerima permintaan untuk mengubah password akun Anda. Untuk melanjutkan, silakan klik tombol di bawah ini untuk mengatur ulang kata sandi Anda:</p>

            <div class="instructions" style="background-color: #e9f7ef; border: 1px solid #2ecc71; color: #2ecc71; padding: 15px; margin-bottom: 20px; border-radius: 5px;">
                <p style="color: #555; font-size: 16px; line-height: 1.5;"><strong>Petunjuk:</strong></p>
                <p style="color: #555; font-size: 16px; line-height: 1.5;">
                    Jika Anda tidak meminta perubahan password, harap abaikan email ini. Pastikan bahwa Anda hanya mengklik tautan yang diterima dari sumber yang terpercaya. <strong>Email Ini Expired Dalam 1 Jam</strong>
                </p>
            </div>

            <div class="button-container" style="text-align: center;">
                <a
                    style="background-color: #2ecc71; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block;"
                    href="http://127.0.0.1:8000/change/password/?token={{token}}"
                    class="btn"
                >
                    Ubah Password
                </a>
            </div>

            <p style="color: #555; font-size: 16px; line-height: 1.5;">Jika Anda mengalami kesulitan atau memiliki pertanyaan, jangan ragu untuk menghubungi kami.</p>

            <div class="footer" style="text-align: center; font-size: 12px; color: #888; margin-top: 20px;">
                <p>
                    Terima kasih,<br />
                    Tim Support Kami
                </p>
            </div>
        </div>
    </body>
</html>
