{% load static %}
{% load custom_filters %}
{% include 'util/dashboard_user/head.html' %}
  <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                 <div class="col-md-12">
                        {% if apply.count %}
                        {% for data in apply %}
                        {% if data.to.is_close is False %}
                        <div class="card" >
                              <div class="card-body">
                                <h4 class="card-title">
                                    <i class="ti-receipt"></i> &nbsp; {{data.to.title}}
                                     &nbsp;&nbsp; <i class="ti-pulse"> 
                                    {% if data.to.is_salary %} 
                                    Gaji Tidak Ditampilkan
                                    {% else %}
                                    Rp. {{data.to.salary | rupiah}}
                                    {% endif %}
                                    </i>
                                </h4>
                                <!-- Nav tabs -->
                                <ul style="list-style-type: none;" class="nav nav-tabs mb-3" role="tablist">
                                    </li>
                                    <li  class="nav-item"><a class="nav-link active" data-toggle="tab" href="#lamaran{{data.to.id}}"><span><i class="ti-stats-up"></i>&nbsp;&nbsp;
                                        Status Lamaran
                                    </span></a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#lowongan{{data.to.id}}"><span><i class="ti-archive"></i>&nbsp;&nbsp; Data Lowongan</span></a>
                                    </li>
                                    {% if data.status == 3 %}
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#interview{{data.to.id}}"><span><i class="ti-archive"></i>&nbsp;&nbsp; Jadwal Interview</span></a>
                                    </li>
                                    {% endif %}
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content tabcontent-border" >
                                    <div class="tab-pane  show active fade" id="lamaran{{data.to.id}}" role="tabpanel">
                                        <div class="p-t-15">
                                            {% if data.status == 4 %}
                                            <div class="external-event bg-info text-white ui-draggable ui-draggable-handle" data-class="bg-info" style="position: relative;"><i class="fa fa-move"></i><strong>
                                             Mohon Maaf, Lamaran Kamu Belum Bisa Kami Process, Terima Kasih Atas Partisinya, Tetap Semangat   
                                            </strong></div>
                                            {% endif %}
                                            <ul>
                                              {% if data.status == 1 %}
                                                <li style="display: inline;">
                                                    <span class="label label-success">Apply</span>  
                                                    &nbsp;&nbsp;&nbsp;
                                                    <i class="ti-angle-double-right"></i>
                                                    &nbsp;&nbsp;&nbsp;
                                                </li>
                                              {% elif data.status == 2 %}
                                                <li style="display: inline;">
                                                    <span class="label" style="background: grey; color:#fff;">Apply</span>  
                                                    &nbsp;&nbsp;&nbsp;
                                                    <i class="ti-angle-double-right"></i>
                                                    &nbsp;&nbsp;&nbsp;
                                                </li>
                                                <li style="display: inline;">
                                                     <span class="label label-success" style="color:#fff;">Process</span>  
                                                    &nbsp;&nbsp;&nbsp;
                                                    <i class="ti-angle-double-right"></i>
                                                    &nbsp;&nbsp;&nbsp;
                                                </li>

                                              {% elif data.status == 3 %}  
                                              <li style="display: inline;">
                                                    <span class="label" style="background: grey; color:#fff;">Apply</span>  
                                                    &nbsp;&nbsp;&nbsp;
                                                    <i class="ti-angle-double-right"></i>
                                                    &nbsp;&nbsp;&nbsp;
                                                </li>
                                                <li style="display: inline;">
                                                     <span class="label" style="background: grey; color:#fff;">Process</span>  
                                                    &nbsp;&nbsp;&nbsp;
                                                    <i class="ti-angle-double-right"></i>
                                                    &nbsp;&nbsp;&nbsp;
                                                </li>
                                                <li style="display: inline;">
                                                     <span class="label label-success">Interview</span>           
                                                </li>
                                                {% else %}
                                                {% endif %}
                                            </ul>
                                            <br>
                                            
                                        </div>
                                    </div>
                                    <div class="tab-pane fade containerLowongan" id="lowongan{{data.to.id}}" role="tabpanel">
                                        <div class="p-t-15">
                                            <div class="small-section-tittle">
                                            <div style="margin-left: 20px;">  

                                                <h4>Job Description</h4>
                                                {{data.to.description | safe}}
                                            </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    {% if data.status == 3 %}
                                    <div class="tab-pane fade" id="interview{{data.to.id}}" role="tabpanel">
                                        <div class="p-t-15">
                                           <div class="message-box">
                                            
                                            {{data.id|messageInterview|safe}}
                                             <hr />
                                              <h6 class="p-t-15">

                                               Attachments </h6>
                                              <div class="row m-b-30">
                                                {% for data in data.id|attachmentFiles %}
                                                 <div class="col-auto">
                                                    <i class="fa fa-download mb-2"></i>
                                                    <a href="#" class="text-muted">{{data.name_file}}</a>
                                                </div>
                                                {% endfor %}
                                              </div>
                                              <hr />
                                              <span><b>{{data.updated_at|date:'U'|timedDates}} </b>  Yang Lalu</span> | {{data.updated_at}} 
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            


                        </div>
                        {% endif %}
                            {% endfor %}
                            
                            {% else %}
                            <div class="card-body">
                                <h4 class="card-title">
                                    &nbsp; You Not Apply Yet
                                </h4>
                                
                                    
                                    
                                </div>
                            </div>
                            {% endif %}
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

{% include 'util/dashboard_user/foot.html' %}