{% load static %} {% include 'util/dashboard_user/head.html' %}

<!--**********************************
            Content body start
        ***********************************-->
<div class="content-body">
  <div class="row page-titles mx-0">
    <div class="col p-md-0">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
      </ol>
    </div>
  </div>
  <!-- row -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="read-content">
              <div class="media pt-5">
                <div class="media-body">
                  <h5 class="m-b-3">HRD</h5>
                  <p class="m-b-2">20 May 2018</p>
                </div>
              </div>
              <hr />
              <div class="media mb-4 mt-1">
                <div class="media-body">
                  <span class="float-right">07:23 AM</span>
                  <div id="container" style="backgroundcolor: #f4f4f9; width: 100%; margin: auto; padding: 20px; backgroundcolor: #ffffff; boxshadow: 0 4px 8px rgba(0, 0, 0, 0.1); borderradius: 8px;">
                    <h1>Panggilan Interview</h1>
                    <br />
                    <p>Halo <b>[Nama Kandidat]</b>,</p>
                    <br />

                    <p>Anda cocok dengan kualifikasi yang kami butuhan dan Kami senang mengundang Anda untuk mengikuti sesi interview dengan tim kami.</p>
                    <p><strong>Detail Interview:</strong></p>
                    <br />
                    <ul>
                      <li><strong>Tanggal:</strong> 12 Januari 2025</li>
                      <li><strong>Waktu:</strong> 10:00 AM</li>
                      <li><strong>Tempat:</strong> Kantor XYZ, Jl. Raya No. 123</li>
                    </ul>
                    <br />
                    <p>Harap membawa dokumen yang diperlukan dan persiapkan diri Anda sebaik mungkin.</p>
                    <br />
                    <ul>
                      <li><strong>KTP:</strong></li>
                      <li><strong>Waktu:</strong></li>
                      <li><strong>Tempat:</strong></li>
                    </ul>
                    <br />
                    <p>Terima kasih, dan kami tunggu kehadiran Anda!</p>
                  </div>
                </div>
              </div>
              <hr />
              <h6 class="p-t-15"><i class="fa fa-download mb-2"></i> Attachments <span>(3)</span></h6>
              <div class="row m-b-30">
                <div class="col-auto"><a href="#" class="text-muted">My-Photo.png</a></div>
                <div class="col-auto"><a href="#" class="text-muted">My-File.docx</a></div>
                <div class="col-auto"><a href="#" class="text-muted">My-Resume.pdf</a></div>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #/ container -->
  </div>
  <!--**********************************
            Content body end
        ***********************************-->

  {% include 'util/dashboard_user/foot.html' %}
</div>
