{% load static %}
{% load custom_filters %}
{% include 'util/dashboard_user/head.html' %}
 <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                 <div class="col-md-12">
                        <div class="card">
                            <div class="card-body" >
                                <h4 class="card-title">
                                    <i class="ti-receipt"></i> &nbsp; {{detail.title}}
                                    &nbsp;&nbsp; <i class="ti-pulse"> 
                                    {% if detail.is_salary %} 
                                    Gaji Tidak Ditampilkan
                                    {% else %}
                                    Rp. {{detail.salary | rupiah}}
                                    {% endif %}
                                    </i>

                                </h4>
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs mb-3" role="tablist">
                                    </li>
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#messages8"><span><i class="ti-stats-up"></i>&nbsp;&nbsp;
                                        Deskripsi Lowongan
                                    </span></a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content tabcontent-border" id="container">
                                    <div class="tab-pane  show active fade" id="messages8" role="tabpanel">
                                        <div class="p-15">

                                            {{detail.description | safe}}
                                            
                                        <form 
                                        {% if request.user|checkApply:detail %}
                                        {% else %}
                                        method="POST" action=""
                                        {% endif %}
                                        >{% csrf_token %}
                                            {% if request.user|checkResume %}

                                                {% if request.user|checkApply:detail %}
                                                 <div class="alert alert-info">
                                                    Anda Sudah Mengirim Lamaran Ini
                                                </div>
                                                {% else %}

                                                    {% if detail.is_apply %}

                                                        {% if detail.id|checkMaxApply%}
                                                        <div class="alert alert-info">
                                                        Lamaran Sudah Melebihi Batas
                                                        </div> 
                                                        {% else %}
                                                        <input type="hidden" value="{{detail.id}}" name="lowongan">
                                                        <button class="btn btn-outline-secondary sweet-confirm">Apply Lamaran</button>
                                                        {% endif %}
                                                    {% else %}
                                                    <input name="lowongan" type="hidden" value="{{detail.id}}">  
                                                    <button class="btn btn-outline-secondary sweet-confirm">Apply Lamaran</button>
                                                    {% endif %}

                                                {% endif %}

                                            {% else %}
                                                <div class="alert alert-danger">
                                                    Lengkapi Resume Terlebih Dahulu
                                                </div>                                            
                                            {% endif %}
                                            <!-- <button class="btn mb-1 btn-outline-secondary">Kirim Lamaran</button> -->
                                        </form>   
                                        <small>Last Updated 
                                        <b>{{detail.updated_at | date:'U' | timedDates}}</b> Yang Lalu</small>
                                        </div>
                                    </div>
                                <script>
                                  let container = document.getElementById("container")
                                  const olElements = container.querySelectorAll('ol');
                                  const liElements = container.querySelectorAll('li')  

                                  olElements.forEach(e => {
                                    e.style.listStyleType = "disc"
                                  })
                                  liElements.forEach(e => {
                                    e.style.listStyleType = "disc"
                                  })

                                </script>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

{% include 'util/dashboard_user/foot.html' %}