{% load static %}
{% load custom_filters %}
{% include 'util/dashboard_user/head.html' %}


  <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                 <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card">
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert {% if message.tags == 'info' %} alert-warning {% else %} alert-success {% endif %} alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                            </button> 
                            <strong>{{ message }}</strong></div>
                            {% endfor %}
                            {% endif %}
                            <div class="card-body">
                                <div class="form-validation">

                                    <form 
                                    enctype="multipart/form-data" 
                                    class="form-valide" action="" method="post">{% csrf_token %}
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-username">Foto Formal<span class="text-danger"> *</span>
                                            </label>
                                            <div class="col-lg-6">
                                                {% if profile.photo_formal %}
                                                <img 
                                                src="{% url 'pelamar:photo_pelamar' file=profile.photo_formal %}" id="img_photo" height="150" style="cursor:pointer; border:1px solid black;
                                                border-radius: 15px;">
                                                {% else %}
                                                <img style="cursor:pointer;" id="img_photo" height="150" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSteItzPyeDKBxyWiOA8xrPZXIlxOYv1b1VVg&s">
                                                {% endif %}
                                                <input
                                                {% if profile.file_photo %}
                                                value="{{profile.file_photo}}"
                                                {% endif %} 
                                                accept="image/jpeg,image/jpg,image/png" 
                                                name="{{form.file_photo.name}}" type="file" class="d-none" id="photo-formal" 
                                                >
                                            </div>

                                            <script>
                                             let phto = document.getElementById("img_photo")   
                                             let input = document.getElementById('photo-formal')

                                             phto.addEventListener("click",(e) => {
                                                input.click()
                                             })

                                             input.addEventListener("change",(e) => {
                                                phto.src= URL.createObjectURL(e.target.files[0])
                                             })
                                            </script>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-username">Nama Lengkap <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input
                                                {% if profile.complete_name %}
                                                value="{{profile.complete_name}}"
                                                {% endif %}  
                                                name="{{form.complete_name.name}}" type="text" class="form-control" id="val-username" placeholder="Enter a username..">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-email">Email <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input 
                                                {% if profile.email %}
                                                value="{{profile.email}}"
                                                {% endif %}
                                                value="{{profile.email}}" name="{{form.email.name}}" type="email" class="form-control" id="val-email" placeholder="Your valid email..">
                                            </div>
                                        </div>
                                         <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-email">Telepon <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input 
                                                {% if profile.no_telp %}
                                                value="{{profile.no_telp}}"
                                                {% endif %}
                                                value="{{profile.no_telp}}" oninput="limitDigits(this)" name="{{form.no_telp.name}}" type="number" class="form-control" id="val-email" placeholder="Nomor Telepon">
                                            </div>
                                        </div>
                                        <script>
                                            function limitDigits(input) {
                                                const maxLength = 12;
                                                if (input.value.length > maxLength) {
                                                  input.value = input.value.slice(0, maxLength);
                                                }
                                            }  
                                        </script>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-password">Tanggal Lahir <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input 

                                                value="{{profile.date_birth |date:'U' | inputDate}}" name="{{form.date_birth.name}}" type="date" class="form-control" id="val-password"  placeholder="Choose a safe one..">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-confirm-password">Pendidikan Terakhir <span class="text-danger">*</span>
                                            </label>
                                              <div class="col-auto my-1">
                                                <select name="{{form.last_education.name}}" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                                   <option value="" disabled selected>
                                                    Pilih Pendidikan Terakhir</option>
                                                    {% for id,name in form.last_education.field.choices %}
                                                     {% if forloop.counter > 1 %}
                                                        <option 
                                                        {% if profile.last_education.id == id %}
                                                        selected ="selected"
                                                        {% endif %}
                                                        value="{{ id }}">{{ name }}</option>
                                                     {% endif %}         
                                                    {% endfor %}
                                                </select>
                                                
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-suggestions">Jurusan <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input 
                                                {% if profile.jurusan %}
                                                value="{{profile.jurusan}}"
                                                {% endif %}
                                                placeholder="Jurusan" 
                                                name="{{form.jurusan.name}}" type="text" class="form-control" >
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-suggestions">Ceritakan Diri Anda <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input
                                                {% if profile.about %}
                                                value="{{profile.about}}"
                                                {% endif %}
                                                 placeholder="Tentang Diri Anda" name="{{form.about.name}}" class="form-control"  />
                                                
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-currency">CV <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <span>*pdf</span>
                                                {% if profile.file_cv %}
                                               
                                                {% endif %}
                                                <input accept="application/pdf" placeholder="*pdf" 
                                                name="{{form.files_cv.name}}" type="file" class="form-control" id="val-currency"  placeholder="$21.60">
                                                {% if profile.file_cv %}    
                                                <span><a 
                                                target="_blank" 
                                                href="{% url 'pelamar:cv_pelamar' file=profile.file_cv %}"
                                                class="text-primary">Open File &nbsp;</a>
                                                ({{profile.file_cv}})   
                                                </span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-website">Website 
                                            </label>
                                            <div class="col-lg-6">
                                                <input
                                                {% if profile.website %}
                                                value="{{profile.website}}"
                                                {% endif %}
                                                  name="{{form.website.name}}" type="text" class="form-control" id="val-website" placeholder="https://example.com">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-website">Linkedln 
                                            </label>
                                            <div class="col-lg-6">
                                                <input 
                                                {% if profile.linkedln %}
                                                value="{{profile.linkedln}}"
                                                {% endif %}
                                                name="{{form.linkedln.name}}" type="text" class="form-control" id="val-website"  placeholder="https://linkedln.com/in/username">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-website">
                                            </label>
                                             <div class="col-lg-6" id="tags-input" style="padding: 15px; position: relative;">
                                                <div id="tagsWraper" class="tags-wrapper" style="border: 1px solid #ccc; border-radius: 4px; padding: 5px; display: flex; flex-wrap: wrap; gap: 5px;">
                                                     
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row" style="margin-top: -40px ;">
                                            <label class="col-lg-4 col-form-label" for="val-skill">Skill
                                            </label>
                                            <div class="col-lg-6" id="tags-input" style="padding: 15px; position: relative;">
                                            <div  style="border: 1px solid #ccc; border-radius: 4px; padding: 5px; display: flex; flex-wrap: wrap; gap: 5px;">                                                
                                                <input type="text" style="flex: 1; border: none; outline: none; padding: 5px;" class="form-control" id="tags"  placeholder="Skills Anda (Enter)">
                                            </div>
                                            <input type="hidden" class="form-control" id="tags-value" name="{{form.skills.name}}"
                                            {% if profile.skills %}
                                            value="{{profile.skills}}"
                                            {% endif %}
                                             />                                            
                                        </div>


                                        <script>
                                        
                                            const tagsWrapper = document.querySelector('.tags-wrapper');
                                            const tagsValues = document.getElementById('tags-value');
                                            const inputs = document.getElementById('tags');
                                            let datadefaults = tagsValues.value.split(",")
                                            let str = ''
                                            console.log(datadefaults)
                                            if (datadefaults.length > 1) {
                                                datadefaults.forEach(e => {
                                                    str += `
                                                        <span data=${e} id="skils${e}" style="display: inline-flex; align-items: center; background: rgb(0, 173, 255); color: white; padding: 5px; border-radius: 3px; margin-right: 5px;">${e}
                                                            <span
                                                            style="margin-left: 10px;cursor:pointer;"
                                                            onclick="deleteSkils('${e}')"
                                                            >
                                                                X
                                                            </span>
                                                        </span>
                                                    `
                                                    tagsWrapper.innerHTML = str
                                                })
                                            }

                                            inputs.addEventListener('keydown', function (e) {
                                                if (e.key === 'Enter' && inputs.value.trim() !== '') {
                                                    e.preventDefault();
                                                    let element = `
                                                        <span data=${inputs.value} id="skils${inputs.value}" style="display: inline-flex; align-items: center; background: rgb(0, 173, 255); color: white; padding: 5px; border-radius: 3px; margin-right: 5px;">${inputs.value}
                                                            <span
                                                            style="margin-left:10px;cursor:pointer;"
                                                            id="closeSkils"
                                                            onclick="deleteSkils('${inputs.value}')"
                                                            >
                                                                X
                                                            </span>
                                                        </span>
                                                    `
                                                    tagss = document.getElementById("tagsWraper")
                                                    tagss.insertAdjacentHTML('beforeend',element)
                                                    datadefaults.push(inputs.value)

                                                    tagsValues.value = datadefaults.join(",")
                                                    inputs.value = ""


                                                }
                                            });
                                         let datadefault = []   
                                         const tagsValue = document.getElementById('tags-value')
                                         const wraper = document.getElementById("tagsWraper")
                                         let span = wraper.querySelectorAll("span")
                                         console.log(span)

                                         const deleteSkils = (e) => {
                                            let element = document.getElementById(`skils${e}`)
                                            if(element){
                                                element.remove()
                                            }
                                            datadefaults = datadefaults.filter(data => data !== e )
                                            tagsValues.value = datadefaults.join(",")
                                         }
                                        </script>
                                        </div>                                        
                                       
                                       
                                        <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


{% include 'util/dashboard_user/foot.html' %}